[submodule "lib/git-flow-completion"]
	path = lib/git-flow-completion
	url = https://github.com/bobthecow/git-flow-completion.git
[submodule "themes/base16-iterm2"]
	path = themes/base16-iterm2
	url = https://github.com/chriskempson/base16-iterm2.git
[submodule "lib/oh-my-zsh"]
	path = lib/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "themes/iTerm-Color-Schemes"]
	path = themes/iTerm-Color-Schemes
	url = git@github.com:mbadolato/iTerm2-Color-Schemes.git
[submodule "lib/rsense"]
	path = lib/rsense
	url = git@github.com:m2ym/rsense.git
