[submodule "vendor/base16-iterm2"]
	path = vendor/base16-iterm2
	url = https://github.com/chriskempson/base16-iterm2.git
[submodule "home/.config/vendor/oh-my-zsh"]
	path = home/.config/vendor/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "home/.vim/bundle/Vundle.vim"]
	path = home/.vim/bundle/Vundle.vim
	url = https://github.com/gmarik/vundle.git
