[submodule "vim/vundle.git"]
	path = vim/vundle.git
	url = http://github.com/gmarik/vundle.git
[submodule "lib/git-flow-completion"]
	path = lib/git-flow-completion
	url = https://github.com/bobthecow/git-flow-completion.git
